{% extends 'base.html.twig' %}

{% block body %}

<div class="container vh-100" style="margin-top:100px">
    <div class="rounded ">
        <div class="col-md-12 col-sm-12 shadow-lg p-5 bg-light mb-4">
        <h1 class="mt-4">Formulaire d'inscription</h1>
        {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block title %}
Inscription
{% endblock %}