{% extends 'base.html.twig' %}

{% block title %}Service de Gestion des Plaintes!{% endblock %}

{% block body %}
  {#<style>
        .bt_head{
            background-color:#f2f9f9 ;
            color: #ffffff;
        }
  </style>#}

  <body class="body"><!--Hero section!-->
    <section id="hero" class="hero section dark-background">
      <img src="{{ asset('images/mains.jpg') }}" alt data-aos="fade-in" class="aos-init aos-animate">
      <div class="container text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Bienvenue sur notre plate-forme</h2>
            <p>Vous avez une plainte ? Déposez-la ici et suivez son traitement en temps réel.</p>
            <a href="#Déposer une plainte" class="btn-déposer-une-plainte">Déposer une plainte</a>
          </div>
        </div>
      </div>
    </section>

    <section class="about" data-aos="fade-up" data-aos-delay="200">...</section>
    <section id="A propos" class="A propos section">
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>A propos</h2>
        <p>"Nous sommes un service de la régie des eaux qui traitent vos plaintes et vous apportent une solution adaptée à votre situation</p>
      </div>

      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('images/sourire.jpg')}}" alt class="img-fluid">
          </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="about-content ps-0 ps-lg-3">
            <h3>Votre satisfaction est notre priorité ! Nous nous investissons à 100% pour vous apporter une solution adaptée à votre situation</h3>
            <p class="fst-italic">Tous nos différents services sont à votre disposition et vous pouvez nous contacter à tout moment</p>
            <ul>
              <li>
              <i class="bi bi-diagram-3"></i>
            <div>
              <h4>Protection</h4>
              <p>Nous garantissons la confidentialité de vos signalements.</p>
            </div>
              </li>
              <li>
                <i class="bi bi-bi-fullscreen-exit"></i>
          <div>
            <h4>Innovation</h4>
            <p>Une plate-forme intuitive et sécurisée</p>
          </div>
                </li>
              </ul>
                <p>""</p>
            </div>
          </div>
        </div>
      </div>
    </section>

      <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title aos-init" data-aos="fade-up">
        <h2>Nos Services</h2>
        <p>Ce que nous vous apportons</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-5">

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <i class="bi bi-activity icon"></i>
              <div>
                <h3>Assistance</h3>
                <p>Un accompagnement personnalisé pour chaque plainte.</p>
                <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <i class="bi bi-broadcast icon"></i>
              <div>
                <h3>Contrôle qualité</h3>
                <p>Nous contrôlons et analysons la qualité et la potabilité de votre eau.</p>
                <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <i class="bi bi-telephone icon"></i>
              <div>
                <h3>Call Force</h3>
                <p>Nos équipes s'occupent de vous et s'attelent à vous apporter la meilleure solution à votre réclamation.</p>
                <a href="service-details.html" class="read-more stretched-link">Lire plus <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <i class="bi bi-technic-repairs icon"></i>
              <div>
                <h3>Réparation des Fuites</h3>
                <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item item-indigo position-relative">
              <i class="bi bi-astuces icon"></i>
              <div>
                <h3>Conseils et Astuces.</h3>
                <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
                <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item item-pink position-relative">
              <i class="bi bi-chat-square-text icon"></i>
              <div>
                <h3>  Informations</h3>
                <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
                <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section>

      <!-- Section Title -->
      <section id="faq" class="faq section">
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
          <h2>FAQ</h2>
          <p>Questions Fréquentes</p>
        </div><!-- End Section Title -->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="faq-container">
                <div class="faq-item">
                  <h3><span class="num">01</span>Comment déposer une plainte ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content">
                    <p>Il vous suffit de cliquer sur le bouton "déposer une plainte" et compléter le formulaire.</p>
                  </div>
                  {# <i class="faq-toggle bi bi-chevron-right"></i> #}
                </div>

                <div class="faq-item">
                  <h3><span class="num">02</span>Comment suivre ma plainte introduite ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content">
                    <p>Il vous suffit d'introduire votre code de suivi sur la barre de recherche qui vous permettra de suivre l'état de votre plainte.</p>
                  </div>
                  {# <i class="faq-toggle bi bi-chevron-right"></i> #}
                </div>

                <div class="faq-item">
                  <h3><span class="num">03</span>Où êtes-vous situé ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content faq-active">
                    <p>Nos locaux sont situés sis 565, Avenue de la Justice dans la commune de Gombe en république démocratique du congo.</p>
                  </div>
                  {# <i class="faq-toggle bi bi-chevron-right"></i> #}
                </div><!-- End Faq item-->

                <div class="faq-item">
                  <h3><span class="num">04</span>Comment puis-je modifier mes données client ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content">
                    <p>Vous pouvez facilement modifier vos données une fois connecté dans votre espace abonné .</p>
                  </div>
                  {# <i class="faq-toggle bi bi-chevron-right"></i> #}
                </div><!-- End Faq item-->

                <div class="faq-item">
                  <h3><span class="num">05</span>Qu'est-ce qu'un règlement amiable en cas de fuite cachée ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content">
                    <p>En cas de fuite visible, les mêmes tarifs s'appliquent que dans le cas d'une consommation annuelle.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-down"></i>
                </div><!-- End Faq item-->

                <div class="faq-item">
                  <h3><span class="num">06</span>Quelles sont les conditions générales de la Regideso ?</h3>
                  <div class="faq-toggle"><i class="bi bi-chevron-down"></i></div>
                  <div class="faq-content">
                    <p>Nos conditions de livraison sont contenues dans le règlement général et spécial de la vente d'eau.</p>
                  </div>
                  {# <i class="faq-toggle bi bi-chevron-right"></i> #}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>565, Avenue de la Justice</h3>
                  <p>Kinshasa/Gombe, République Démocratique du Congo</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Appelez-nous</h3>
                  <p>+243 852 675 684</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>contact@regideso.com</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action="forms/contact.php" method="post" class="php-email-form aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Votre Nom</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Votre Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Sujet</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Votre message a été envoyé. Merci !</div>

                  <button type="submit">Envoyer Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->
        </div>
      </div>

    </section></section>
    </body>
{% endblock %}
