<nav class="navbar">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="#about">À propos</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="{{ path('app_deposer_plainte') }}">Déposer une plainte</a></li>
        <li><a href="{{ path('app_suivre_plainte') }}">Suivre une plainte</a></li>
        <li><a href="{{ path('app_team') }}">Notre équipe</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <button id="theme-toggle">🌙</button>
</nav>